body {
    background: #131212;
  }
  
  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }

  .text-dark {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top: 50%;
  }

  .p-4 {
    margin-top: 15%;
    margin-bottom: 40%;
  }

  .trophiesheader {
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }